<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Document
        link(rel="stylesheet" type="text/css" href='/../public/styles.css')

        style
            include styles.css
       

    body
        div
            div(class = "userList" style="display:flex;") 
                div
                    a(href="/user/sortasc/id") sort asc
                    a(href="/user/sortdesc/id") sort desc
                div
                    a(href="/user/sortasc/first") sort asc
                    a(href="/user/sortdesc/first") sort desc
                div
                    a(href="/user/sortasc/last") sort asc
                    a(href="/user/sortdesc/last") sort desc
                div
                    a(href="/user/sortasc/email") sort asc
                    a(href="/user/sortdesc/email") sort desc
                div
                    a(href="/user/sortasc/age") sort asc
                    a(href="/user/sortdesc/age") sort desc
              
        div
            div(class = "userList" style="display:flex;") 
                div UserID
                div first
                div last
                div email
                div age
                div update
                div delete

        each user in users
            div(style="display:flex;" class="userList") 
                div=user.id
                div=user.first
                div=user.last
                div=user.email
                div=user.age
                div
                    a(href="/user/update/"+user.id) update
                div
                    a(href="/user/delete/"+user.id) delete

        a(href="/" style="margin-right: 20px") Add Another
        a(href="/" style="margin-right: 20px") Home
